body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.1em / 1.4 Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

aside h2 {
  text-align: center;
}

.grid {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
}

nav {
  background-color: #000d;
  padding: 0.5em;
}

.primary-nav {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  line-height: 2;
  max-width: 980px;
}

.primary-nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 1.1em;
}

@media (min-width: 35em) {
  .primary-nav {
    display: flex;
    justify-content: space-between;
  }

  nav {
    position: sticky;
    top: 0;
  }
}

@media (min-width: 40em) {
  .grid {
    display: flex;
    gap: 2em;
  }

  .grid article {
    flex: 25em 1;
  }

  .grid aside {
    flex: 15em 1;
  }
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  place-items: center;
  gap: 2px;
}

.photos li {
  max-width: 15em;
}

.feature {
  width: 50%;
  max-width: 200px;
  float: left;
  margin-right: 1em;
}
