/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.5px;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h1,
h2,
h3 {
  font-family: "ZCOOL QingKe HuangYou", cursive;
  letter-spacing: 0;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}
