* {
  box-sizing: border-box;
}

html {
  font: 1.2em/1.4 Arial, Helvetica, sans-serif;
}

body {
  padding: 0 0 1em;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  border: 5px solid #000;
}

.header-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-content a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1em;
  border-top: 1px solid #999;
}

.title {
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
  padding: 1em;
}

main article {
  max-width: 50rem;
  padding: 1em;
}

.sidebar {
  background-color: #333;
  border: 5px solid #000;
  padding: 0.5em 1em;
  color: #fff;
  margin-top: 1rem;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards li {
  border: 5px solid #000;
  margin-bottom: 1em;
  max-width: 20rem;
  flex: 15rem 1;
}

.cards h2 {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0.5em 1em;
}

.cards .inner {
  padding: 0.5em 1em;
}

.header-content,
main {
  max-width: min(calc(50rem + 30vw), 100%);
  margin: 0 auto;
}

@media (min-width: 40rem) {
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-content ul {
    display: flex;
  }

  .header-content ul li + li {
    padding-left: calc(1em + 5vw);
  }

  .header-content a {
    border-top: none;
  }
}

@media (min-width: 60rem) {
  main {
    display: flex;
    justify-content: space-between;
  }

  .sidebar {
    min-width: 13em;
    max-width: calc(15em + 3vw);
  }
}
